<section class="login-container">
  <div class="login-container-left">
    <img src="assets/images/register.svg" alt="login">
  </div>
  <div class="login-container-right">
    <form method="POST" (submit)="formSubmit()">
      <div class="login-container-right__title">
        Inscription
      </div>
      <div class="input-group">
        <div class="input">
          <img class="icon" src="assets/images/profile.svg" alt="profile">
          <input type="text" name="lastname" placeholder="Nom" [(ngModel)]="formData.lastname">
        </div>
        <div class="error error--active">erreur</div>
      </div>
      <div class="input-group">
        <div class="input">
          <img class="icon" src="assets/images/profile.svg" alt="profile">
          <input type="text" name="firstname" placeholder="Prénom" [(ngModel)]="formData.firstname">
        </div>
        <div class="error">erreur</div>
      </div>
      <div class="input-group">
        <div class="input">
          <img class="icon" src="assets/images/envelope.svg" alt="email">
          <input type="email" name="email" placeholder="Email" [(ngModel)]="formData.email">
        </div>
        <div class="error">erreur</div>
      </div>
      <div class="input-group">
        <div class="input">
          <img class="icon" src="assets/images/padlock.svg" alt="password">
          <input type="password" name="password" placeholder="Mot de passe" [(ngModel)]="formData.password">
        </div>
        <div class="error">erreur</div>
      </div>
      <div class="input-group">
        <div class="input">
          <img class="icon" src="assets/images/padlock.svg" alt="password">
          <input type="password" name="confirmation" placeholder="Confirmation du mot de passe"
            [(ngModel)]="passwordConfirmed">
        </div>
        <div class="error">erreur</div>
      </div>
      <button type="submit" (click)="preview($event);" class="login-container-right__submit">
        Inscription
      </button>
      <a [routerLink]="'/login'" class="login-container-right__link">
        Vous avez déjà un compte ?
      </a>
    </form>
  </div>
</section>
