<section class="login-container">
  <div class="login-container-left">
    <img src="assets/images/login.svg" alt="login">
  </div>
  <div class="login-container-right">
    <form>
      <div class="login-container-right__title">
        Connexion
      </div>
      <div class="input">
        <img class="icon" src="assets/images/envelope.svg" alt="email">
        <input type="email" placeholder="Email">
      </div>
      <div class="input">
        <img class="icon" src="assets/images/padlock.svg" alt="password">
        <input type="password" placeholder="Mot de passe">
      </div>
      <button type="submit" class="login-container-right__submit">
        Connexion
      </button>
      <a [routerLink]="'/register'" class="login-container-right__link">
        Vous n'avez pas de compte ? Inscrivez-vous !
      </a>
    </form>
  </div>
</section>
