<section class="chat">
  <aside class="chat-users">
    <div class="chat-users-item chat-users-item--active">
      <div class="chat-users-item-left">
        <div class="chat-users-item__profile">
          L
        </div>
        <div class="chat-users-item__message">
          <h3>Loris Marino</h3>
          <p>Messag dsf fre fer ferfe</p>
        </div>
      </div>
      <div class="chat-users-item__time">
        1min
      </div>
    </div>
    <div class="chat-users-item">
      <div class="chat-users-item-left">
        <div class="chat-users-item__profile">
          L
        </div>
        <div class="chat-users-item__message">
          <h3>Loris Marino</h3>
          <p>Messag dsf fre fer ferfe</p>
        </div>
      </div>
      <div class="chat-users-item__time">
        1min
      </div>
    </div>
  </aside>
  <main class="chat-messages">
    <div class="chat-messages-content">
      <div class="chat-messages-name">
        <h3>Loris Marino</h3>
        <div class="chat-messages-name__statut chat-messages-name__statut--online"></div>
      </div>
      <div class="chat-messages-other">
        <div class="chat-messages__profile">
          L
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
      <div class="chat-messages-me">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, commodi. Libero, rem repellendus nobis
          voluptatum facere, itaque accusantium similique repudiandae repellat dolorum, fuga impedit. Nesciunt mollitia
          fugiat repellendus maxime odit.
        </p>
        <div class="chat-messages__profile">
          L
        </div>
      </div>
    </div>
    <div class="chat-messages-write">
      <div class="chat-messages-write__separator"></div>
      <form>
        <textarea name="" rows="2" placeholder="Entrez votre message..."></textarea>
        <div class="chat-messages-write-icons">
          <img src="assets/images/paperclip.svg" alt="files">
          <img src="assets/images/happy.svg" alt="smiley">
        </div>
      </form>
    </div>
  </main>
  <aside class="chat-user">
    <div class="chat-user__profile" [textContent]="userData.firstname.charAt(0)"></div>
    <h3 class="chat-user__name" [textContent]="userData.firstname + ' ' + userData.lastname"></h3>
    <p class="chat-user__email" [textContent]="userData.email"></p>
  </aside>
</section>
