<section class="chat">
  <aside class="chat-users">
    <div class="chat-users-item chat-users-item--active">
      <div class="chat-users-item-left">
        <div class="chat-users-item__profile">
          L
        </div>
        <div class="chat-users-item__message">
          <h3>Loris Marino</h3>
          <p>Messag dsf fre fer ferfe</p>
        </div>
      </div>
      <div class="chat-users-item__time">
        1min
      </div>
    </div>
    <div class="chat-users-item">
      <div class="chat-users-item-left">
        <div class="chat-users-item__profile">
          L
        </div>
        <div class="chat-users-item__message">
          <h3>Loris Marino</h3>
          <p>Messag dsf fre fer ferfe</p>
        </div>
      </div>
      <div class="chat-users-item__time">
        1min
      </div>
    </div>
  </aside>
  <main class="chat-messages">
    kkk
  </main>
  <aside class="chat-user">
    <div class="chat-user__profile">
      L
    </div>
    <h3 class="chat-user__name">
      Loris Marino
    </h3>
    <p class="chat-user__email">
      M.loris@hotmail.fr
    </p>
  </aside>
</section>
