<section class="landing-container">
  <div class="landing-container-left">
    <div>
      <h3 class="landing-container-left__title">
        Bienvenue sur Chatmean
      </h3>
      <p>
        Avec Chatmean, discutez où vous voulez, quand vous voulez.
      </p>
      <div class="landing-container-left-links">
        <a [routerLink]="'/login'" class="landing-container-left__login">
          Connexion
        </a>
        <a [routerLink]="'/register'" class="landing-container-left__register">
          Inscription
        </a>
      </div>
    </div>
  </div>
  <div class="landing-container-right">
    <img src="assets/images/landing.svg" alt="landing">
  </div>
</section>
